@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  direction: rtl;
}

body {
  color: white;
  background: #1a1a1a;
  font-family: "Vazirmatn", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.seat {
  @apply w-6 h-6 rounded-full cursor-pointer transition-all duration-200;
}

.seat-available {
  @apply bg-gray-600 hover:bg-gray-500;
}

.seat-selected {
  @apply bg-primary;
}

.seat-booked {
  @apply bg-red-600 cursor-not-allowed;
}

.seat-vvip {
  @apply bg-purple-600;
}
.seat-vip {
  @apply bg-pink-600;
}
.seat-royal {
  @apply bg-blue-600;
}
.seat-diamond {
  @apply bg-cyan-600;
}
.seat-platinum {
  @apply bg-gray-400;
}
.seat-gold {
  @apply bg-yellow-600;
}
.seat-silver {
  @apply bg-gray-300;
}
.seat-bronze {
  @apply bg-orange-600;
}

/* Moving gradient animations */
@keyframes gradient-x {
  0%, 100% {
    transform: translateX(-50%) translateY(-20%) scale(1.1);
  }
  50% {
    transform: translateX(50%) translateY(20%) scale(1.2);
  }
}

@keyframes gradient-x-reverse {
  0%, 100% {
    transform: translateX(50%) translateY(20%) scale(1.2);
  }
  50% {
    transform: translateX(-50%) translateY(-20%) scale(1.1);
  }
}

.animate-gradient-x {
  animation: gradient-x 15s ease-in-out infinite;
}

.animate-gradient-x-reverse {
  animation: gradient-x-reverse 20s ease-in-out infinite;
}
